html {
  background-color: #f6e8e8;
}

h1 {
  color: white;
  font-size: 50px;
}

h1, h2, h3, dl, dt {
  font-family: helvetica, sans-serif;
}

h2{
  color: white;
  background-color: #333;
  border-radius: 10px;
}

dt {
  text-decoration-line: underline;
  color: #e3559b;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}

dl {
  text-align: justify;
  display: flex; 
  margin-left: 70px;
}

dd {
  width: 50%;   
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 6px;
    margin-left: 15px;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: helvetica, sans-serif;
}

li a:hover {
    background-color: #111;
}

section {
  display: flex;
}

p {
  font-family: helvetica, sans-serif;
  margin: 55px;
  text-align: justify;
}


figure {
  width: 50%;
}

img{
  width: 20px;
  height: 20px;
  border-radius: 6px;
}

/* PROJECTS */

.biblioteca, .mapa, .finca{
    margin-left: 30px;
    margin-right: 30px;
}

#mapa {
  width:80%;
  height: 80%;
  margin-left: 50px;
}

#biblioteca{
  width:30%;
  height: 30%;
  margin-left: 50px;
}

#finca{
  width:50%;
  height: 50%;
  margin-left: 50px;
}
 
#tituloProyectos{
	text-align: center;
}

#psection{
  display: inline;
}

/* INDEX */
.titulo{
  display: flex;
  border-style: solid;
  border-radius: 4px;
  border-color: black;
}

#acerca{
    text-align: justify;
    margin-left: 0;
}

#foto{
  width: 200px;
  height: 250px;
}

#fotop{
  width: 30%;
}

#logo{
  width: 100px;
  height: 100px;
  padding: 10px;
}

#rosa{
  color: #ff85c1;
}

/* ABOUT */

.sistemas, .ballet, .expo, .profe{  display: flex; border-style: solid; border-radius: 4px;  border-color: black;}

#sistemas{
  display: flex;
  width: 200%;
  height: 200%;

}

#bailando {
  display: flex;
  width: 150%;
  height: 150%;
}

#expo{
  display: flex;
  width: 150%;
  height: 150%;
}

#profe {
  display: flex;
  width: 80%;
  height: 80%;
}

/*CONTACT */
#contactame {
  font-size: 40px;
  text-align: center;
}

form {
  padding:2px;
   cursor:pointer;
   display:block;
   margin: 0 auto;
   text-align:center;
    font-family: helvetica, sans-serif;
}

input {
  border-radius: 7px;
  width: 80%;
}

button{
  border-radius: 10px;
  color: pink;
  font-size: 20px;
  background-color: white;
  width: 90px;
  height: 40px;
}

footer {
  position: relative;
  bottom: 0;
  width: 99%;
  /*height: 40px;
  color: white;*/
}
