<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/estilo.css">
  <title>Sobre mi</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="about.html">Conocimientos</a></li>
        <li><a href="projects.html">Proyectos</a></li>
        <li><a href="contact.html">Contacto</a></li>
      </ul>
    </nav>
    <br>
  </header>

  <div class="sistemas">
    <div class="imagen1">
      <figure>
        <img src="../img/sistemas.jpeg" alt="sistemas" id="sistemas">
        </figure>
    </div>
    <div class="texto1">
      <p>
        Tengo conocimientos en laravel, PHP, bases de datos MySQL y PostgreSQL;
        igualmente cuento con conocimientos bases sobre las bases de datos no relacionales y git.
      </p>
    </div>
  </div>
  <br>
  <div class="ballet">
    <div class="texto2">
      <p>
        Bailo ballet clasico ruso especificamente el método vaganova desde los 18 años y soy aprendíz en la academia <a href="https://www.facebook.com/balletdecucuta/">Ballet de Cúcuta</a><br>
        He participado en muchas obras de ballet, en las cuales me destaqué en "La Bella y La Bestia" como la bella.
      </p>
    </div>
    <div class="imagen2">
      <figure>
        <img src="../img/ballet.jpeg" alt="ballet" id="bailando">
        </figure>
    </div>
  </div>
  <br>
  <div class="expo">
    <div class="imagen3">
      <figure>
        <img src="../img/expo.jpeg" alt="expo" id="expo">
        </figure>
    </div>
    <div class="texto3">
      <p>
        Cuento con conocimientos en realidad aumentada y realidad virtual que adquirí al pertenecer a <a href="https://www.facebook.com/groups/viralufps/">VIRAL</a> (semillero de investigación), en el cual también realize charlas y ponencias a nivel regional. 
      </p>
    </div>
  </div>
  <br>
  <div class="profe">
    <div class="texto4">
      <p>
        Me considero una buena profesora que antes de enseñar técnica y apoyar a
        la destresa, intento formar personas con buenos valores que aporten a nuestra sociedad.
      </p>
    </div>
    <div class="imagen4">
      <figure>
        <img src="../img/profe.jpeg" alt="profe" id="profe">
        </figure>
    </div>
  </div>
  <br>
  <footer>
    <ul>
      <li><a href="https://www.facebook.com/JulianaOrtga" target="_blank">Se mi amigo en facebook</a></li>
    </ul>
  </footer>
</body>

</html>
