<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/estilo.css">
  <title>Contactame</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="about.html">Conocimientos</a></li>
        <li><a href="projects.html">Proyectos</a></li>
        <li><a href="contact.html">Contacto</a></li>
      </ul>
    </nav>
  </header>

    <h2 id="contactame"> Si estas interesado en mi perfil profesional..</h2>
  <section>
    <form>
      <input type="text" name="Nombre" placeholder="Nombre">
      <br><br>
      <input type="text" name="Correo" placeholder="Correo">
      <br><br>
      <input type="text" name="Asunto" placeholder="Asunto">
      <br>
      <div class="">
        <h3 for="Contenido">Envíame un mensaje:</h3><br>
        <textarea name="Contenido" rows="8" cols="80"></textarea>
      </div>
      <hr>
      <button type="button" name="Enviar">Enviar</button><br><br>
    </form>

  </section>

  <footer>
    <ul>
      <li><a href="https://www.facebook.com/JulianaOrtga" target="_blank">Se mi amigo en facebook</a></li>
    </ul>
  </footer>
</body>

</html>
